# Telegram Bot Token (Configured in Cloudflare Pages / Worker Environment or Encrypted Vault)
VITE_BOT_TOKEN=""
BOT_TOKEN=""

# Firebase Realtime Database URLs
USER_DB_URL="https://photo-cash-2-default-rtdb.firebaseio.com"
CONTENT_DB_URL="https://photo-cash-30b8c-default-rtdb.firebaseio.com"

# Production Mini App URL
WEB_APP_URL="https://photocash.ziniyaapu7.workers.dev"
